#fatitle{
  font-family: 'Orbitron';
  letter-spacing: 1px;
          font-size: 40px;
          text-align: center;
          margin-bottom: 2px;
}

#fatsub{
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
          margin-top: 0;
}
#mcons {
  width: 200px;
}

#maind {
  width: 250px;
 margin:0; 
}
#mdiv {
  width: 230px;
  word-wrap: break-word;
  border: 1px solid tomato;
  margin:0; padding:10px; border-radius: 5px;
}
#rpage{
  font-family: 'Assistant'; 
  font-size: 20px;
  font-weight: 800px;
}
#reportPage {
  min-width: 150px;
  line-height: 2.5;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgba(34, 40, 49, 1);
  background-color:  #e60000;
  color: #ffffff;
}

#reportPage:hover {
  cursor: pointer;
  border: 2px solid rgba(34, 40, 49, 1);
  color: #ffffff;
}

#reportPage:active {
  box-shadow: inset -2px -2px 3px rgba(255, 230, 230, 0.1),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
#numReports,
#pageReports {
  font-family: 'Assistant'; 
  font-size:16px;
  color:  #ff3333;
  font-weight: bolder;
}

#btit,#overr{
  font-family: 'Krub'; 
  font-size: 12px;
  color: #000000;
}
#overr{
  font-weight: 400;
}
#btit{
  font-weight: bolder;
}

#ptit,#purl{
  font-family: 'Krub'; 
  font-size: 14px;
  font-weight: bolder;
  color: #ff3333;
}

#ctit,
#url {
  font-family: 'Assistant'; 
  font-size:14px;
  font-weight: 500;
  color: #000000;
}


#cont {
  font-family: 'Assistant'; 
  font-size: 16px;
  text-align: center;
  color: #000000;
}

